$pending-color: #c22929;
$pending-second-color: #902c2c;
$completed-color: #3a9947;
$completed-second-color: #2e7337;

$bnt-edit-background: #0c44ac;
$btn-delete-background: #d62839;
$btn-save-background: #1bba46;
$bnt-edit-hover: #0f3c8f;
$btn-delete-hover: #b1202f;
$btn-save-hover: #20a042;