@use './base/reset';
@import './base/variables';

@import './components/todoHeader';
@import './components/todoAdd';
@import './components/todoCounter';
@import './components/todoList';

.container {
    padding: 20px;
    background-color: white;
}
@media (min-width:600px) {
    .container{
        margin: auto;
        padding: 30px;
        max-width: 65%;
        max-height: 90vh;
        border-radius: 10px;
    }
}