    @mixin button($color, $background) {
        width: 30px;
        height: 30px;
        border: none;
        border-radius: 5px;
        color: $color;
        padding: 5px;
        transition: all 300ms;
        background-color: $background;
        cursor: pointer;
    }

    .todo-list {
        margin-top: 20px;
        list-style: none;

        .todo-item {
            display: grid;
            grid-template-columns: 20px 1fr 65px;
            justify-content: start;
            gap: 10px;
            margin: 10px 0px;
            padding: 10px 15px;
            border: 1px solid rgb(216, 215, 215);
            border-radius: 5px;

            .check {
                cursor: pointer;
                width: 25px;
                height: 25px;
                border: 1px solid gray;
                border-radius: 5px;
            }
            label{
                padding-top: 3px;
                padding-left: 10px;
                font-size: 1rem;
            }
            .input-edit-todo{
                margin-left: 10px;
                padding-left: 5px;
                width: 95%;
                font-size: 1rem;
                border-radius: 5px;
                border: 1px solid gray;
            }
            .input-edit-todo:focus{
                outline: none;
                border: 2px solid rebeccapurple;
            }
            
            .options {
                width: max-content;
                display: flex;
                gap: 5px;

                .btn-edit {
                    @include button(white, $bnt-edit-background )
                }

                .btn-edit:hover {
                    background-color: $bnt-edit-hover;

                }

                .btn-delete {
                    @include button(white, $btn-delete-background )
                }

                .btn-delete:hover {
                    background-color: $btn-delete-hover;
                }
                .btn-save{
                    @include button(white, $btn-save-background )
                }
                .btn-save:hover {
                    background-color: $btn-save-hover;
                }
            }
        }
    }

    @media (min-width:600px) {
        .todo-list {
            font-size: 1rem;
        }

        // .todo-list::-webkit-scrollbar{
        //     width: 10px;
        // }

        // .todo-list::-webkit-scrollbar-track{
        //     background-color: #e0dddd;
        //     border-radius: 10px;
        //     height: 30px;

        // }
        // .todo-list::-webkit-scrollbar-thumb{
        //     background-color: #b5b5b5;
        // }
    }