
@mixin themeBox($theme){
    background-color: $theme;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    transition: all 300ms;
    cursor: pointer;
}
@mixin counter($theme) {
    color: $theme;
    background-color: white;
    width: 20px;
    height: 20px;
    text-align: center;
    font-weight: bold;
    border-radius: 50%;
}

.todo-counter{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
    font-weight: bold;

    .pending{
        @include themeBox(#333);

        span{
            @include counter(#333)
        }
    }
    .pending:hover{
        background-color: $pending-color;

        span{
            color: $pending-color
        }
    }
    .active-false{
        background-color: $pending-color;
        animation: 1.5s infinite pending ;

        span{
            color: $pending-color
        }
    }
    
    .completed{
        @include themeBox(gray);
        
        span{
            @include counter(#333)
        }
    }
    .completed:hover{
        background-color: $completed-color;
        
        span{
            color: $completed-color
        }
    }
    .active-true{
        background-color: $completed-color;
        animation: 1.5s infinite completed ;
        
        span{
            color: $completed-color
        } 
    }

    @keyframes completed{
        0%{
            background-color: $completed-color;
        }
        50%{
            background-color: $completed-second-color;
        }
        100%{
            background-color: $completed-color;
        }
    }
    @keyframes pending{
        0%{
            background-color: $pending-color;
        }
        50%{
            background-color: $pending-second-color;
        }
        100%{
            background-color: $pending-color;
        }
    }
    
}

@media (min-width:600px) {
    .todo-counter{
        .completed{
            font-size: 1rem;
        }
        .pending{
            font-size: 1rem;
        }
    }
}
